<?php

// This file contains the configuration options for the blog.
// Rename it to 'blog.conf.php' and edit the options to match
// your requirements.

// Administrator's password.
$app['password'] = 'admin';

// Blog title.
$app['title'] = 'My blog';

// Database configuration.
$app['redbean'] = array(
    'dsn' => 'mysql:host=localhost;dbname=astvte',
    'user' => 'astvte',
    'pass' => 'astvte',
);
